<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-category">{{$t('lightControl.myBulbs')}}</h5>
            <h2 class="card-title">{{$t('lightControl.bulb')}} {{piece}}</h2>
            <div class="row">
                <bulb v-for="bulb in bulbs" :key="bulb.id" :name="bulb.name" :state="bulb.state" :id="bulb.id"></bulb>
            </div>                
        </div>
    </div>
</template>
<script>
    import  Bulb from '@/components/Domotique/Bulb';
    export default {
        name : "bulb-panel",
        components:{
            Bulb
        },
        props :{
            id:{
                type: Number,
                required: true
            },
            piece:{
                type: String,
                default : "Salon"
            },
            bulbs:{
                type: Array,
                required:true,
            }      
        },
        methods:{
        }
    }
</script>
<style>
</style>