<template>
    <div @click="toggle" class="bulb-panel col-lg-2 col-md-4 col-sm-6 col-xs-12" role="button">      
        <div class="bulb-component d-flex justify-content-center">
            <img class="bulb-image" :alt="this.state"  width="80%" src='img/domotique/iconfinder_bulb_blue_on.png'>
            <img class="bulb-image" :class="{off : state}" width="80%" src='img/domotique/iconfinder_bulb_off.png'>            
        </div>
        <p class="h5 d-flex justify-content-center" :style="{color: textColor}">{{name}}</p>       
    </div>       
</template>
<script>
import Axios from 'axios';
import Parameters from '@/config/parameters';
import Crypto from 'crypto'
export default {
    components:{
        Parameters
    },
     name: 'bulb',
     props:{
        id:{
             type: Number,
             require:true
         },
         name:{
             type: String,
             require:true
         },
     },
     computed:{
         strState() {
             switch(this.state){
                 case false:
                    return "Eteinte"
                 case true:
                    return "Allumé"
                 default:
                    return "inconnu"
             }
         },
         textColor(){
             return this.state ? "#5e72e4":"#adb5bd";
         },
         imageSrc(){
             return this.state ? "img/domotique/iconfinder_bulb_blue_on.png":"img/domotique/iconfinder_bulb_off.png";
         },  
         serverAddress(){
             return Parameters.serveurInfo().addressApiBack
         },
         serverMercureAddress(){
             return Parameters.serveurInfo().addressMercure
         }
     },
     methods: {
         toggle() {
             const url= new URL(this.serverAddress+'/lampe/'+this.id+'/'+(this.state?'off':'on'));
            //  let params = new URLSearchParams();
             url.searchParams.append("subscriberId",this.subscriberId);
            //  params.append("subscriberId",this.subscriberId);
              Axios
                .post(url)
                .then(response =>  (this.state = !this.state))
        },
        readState(){
           Axios
            .get(this.serverAddress+'/lampe/'+this.id)
            .then(response =>  (this.state = response.data.etat))
            .catch(error => this.state = null);           
        }  
     },
     data() {
        return {
            "state": null,
            "subscriberId":null
        }
     },
     mounted(){
        this.readState();        
     }
}
</script>
<style lang="scss">
.bulb-panel{
    padding-bottom : 0.5em;
   
   .bulb-component{
        padding-top:3em;
        padding-bottom:1.5em;
        img{
            position:absolute;
            left:0;
            transition:all 1s  ;
        }
    }
}

.off{
    transform: scale(1);
    opacity: 0
}
</style>