<template>
  <div>
    <div class="light-control row-lg row-md col-xs" >
        <div class="light-panel col-lg-6 col-md-4 col-sm-12 row-xs" v-for="panel in panels" :key="panel.id">
            <bulb-panel :piece="panel.piece" :bulbs="panel.bulbs" :id="panel.id"></bulb-panel>
        </div>
    </div>
  </div>
</template>
<script>
import BulbPanel from '@/components/Domotique/BulbPanel';
import Parameters from '@/config/parameters';
export default {
  components :{
    BulbPanel,
    Parameters
  },
  props:{
  },
  data(){
    return Parameters.getPanels();
  }
}
</script>
<style lang="scss">
.light-control{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap
  .light-panel{
    display : flex;
    flex-grow:0;
  }
}
</style>